body{
    background: #eee;
}
.container{

}
.row{
    display:flex;
    width:100%;

}
#input__section{
    width: 50%;
    margin:10px auto;
    border: solid 1px black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}